run = "npm run dev"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows.main]
run = "npm run dev"
run_button = true